<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | API Eliel</title>
</head>
<body>
    <h1>Salve meu Bruxo! =D</h1>
    <p>Coloquei essa API simples no ar, meu amigo.</p>
    <p>Usei um pouco de tudo pra desenvolver ela:</p>
    <ul>
        <li>HTML</li>
        <li>Python</li>
        <li>Flask</li>
        <li>Docker</li>
        <li>Heroku</li>
    </ul>
    <p>Aliás, se você acessar essa URL: https://api-flask-eliel.herokuapp.com/, tá funcionalando la no heroku. :)</p>
    <p>Ela tem mais uma rota: <b> /usuario/'<'nome_usuario'>' </b>, que retorna o nome que for passado como usuário.</p>
    <p> -> Exemplo: /usuario/Joao</p>

    <p>Obrigado pelo Apoio, Sempre!</p>

    <h3>Tamo Grande, meu bruxo!</h3>

</body>
</html>